.footer {
    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.sns {
    &__icon {
        &:hover {
            color: $secondary;
        }
    }
}